<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <form>
        <table width="100%">
            <tr>
                <th>id</th>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Address</td>
                <td>Roll No</td>
                <td>Mobile</td>
            </tr>
            {% for emp in user.students %}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.first_name}}</td>
                <td>{{emp.last_name}}</td>
                <td>{{emp.address}}</td>
                <td>{{emp.roll_number}}</td>
                <td>{{emp.mobile}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>